In [1]:
import numpy as np
import statistics as stats

np.random.seed(2131982)
data = np.random.randint(1,101,(10,10))
data

array([[  2,   3,  48,  59,  89,  79,  71,  80,  19,  22],
       [ 74,  20,  16,  13,  74,  88,  61,  28,  11,  79],
       [ 86,  91,  91,  80,  43,   6,  83,  59, 100,  98],
       [ 38,  37,  47,  48,  15,  17,  21,   6,  32,  88],
       [ 14,  18,  54,  39,  47,  48,  33,  59,  63,  49],
       [ 98,  19,  59,  99,  26,  42,  77,  62,  25,  11],
       [ 42,  25,  16,  66,   6,  76,  84,  20,  11,  95],
       [  9,  27,  63,  24,  15,  73,  44,  22,  47,  85],
       [ 58,  37,  94,  24,  99,  70,  39,  46,  29, 100],
       [ 98,  92,  91,  24,  70,  91,  78,  73,  73,  37]])

In [2]:
data.mean()

51.37

In [3]:
np.median(data)

48.0

In [4]:
data.std()

29.729330634913392

In [5]:
data.var()

883.8331

In [6]:
for i in range(10):
    print("Media Aritmetica Fila "+ str(i+1) +" "+ str(np.mean(data[i:i+1])))

Media Aritmetica Fila 1 47.2
Media Aritmetica Fila 2 46.4
Media Aritmetica Fila 3 73.7
Media Aritmetica Fila 4 34.9
Media Aritmetica Fila 5 42.4
Media Aritmetica Fila 6 51.8
Media Aritmetica Fila 7 44.1
Media Aritmetica Fila 8 40.9
Media Aritmetica Fila 9 59.6
Media Aritmetica Fila 10 72.7

In [7]:
for i in range(10):
    print("Media Aritmetica Columna "+ str(i+1) +" "+ str(np.mean(data[:,i])))

Media Aritmetica Columna 1 51.9
Media Aritmetica Columna 2 36.9
Media Aritmetica Columna 3 57.9
Media Aritmetica Columna 4 47.6
Media Aritmetica Columna 5 48.4
Media Aritmetica Columna 6 59.0
Media Aritmetica Columna 7 59.1
Media Aritmetica Columna 8 45.5
Media Aritmetica Columna 9 41.0
Media Aritmetica Columna 10 66.4

In [8]:
for i in range(10):
    print("Desviación típica Fila "+ str(i+1) +" "+ str(np.std(data[i:i+1])))

Desviación típica Fila 1 31.571506140822613
Desviación típica Fila 2 29.763064358362026
Desviación típica Fila 3 28.107116536564185
Desviación típica Fila 4 22.147008827378922
Desviación típica Fila 5 15.596153371905523
Desviación típica Fila 6 30.616335509005648
Desviación típica Fila 7 31.57039752679716
Desviación típica Fila 8 24.566033460858105
Desviación típica Fila 9 27.932776446318403
Desviación típica Fila 10 23.160526764303096

In [9]:
for i in range(10):
    print("Desviación típica Columna "+ str(i+1) +" "+ str(np.std(data[:,i])))

Desviación típica Columna 1 34.63654139777815
Desviación típica Columna 2 28.8355683141498
Desviación típica Columna 3 26.953478439711635
Desviación típica Columna 4 26.650328328183875
Desviación típica Columna 5 31.45218593357225
Desviación típica Columna 6 28.02498884923953
Desviación típica Columna 7 21.860695322884858
Desviación típica Columna 8 23.77498685593748
Desviación típica Columna 9 27.910571473905726
Desviación típica Columna 10 31.8188623303851

In [10]:
for i in range(10):
    print("Varianza Fila "+ str(i+1) +" "+ str(np.var(data[i:i+1])))

Varianza Fila 1 996.76
Varianza Fila 2 885.8399999999999
Varianza Fila 3 790.0099999999999
Varianza Fila 4 490.48999999999995
Varianza Fila 5 243.24
Varianza Fila 6 937.36
Varianza Fila 7 996.6900000000002
Varianza Fila 8 603.49
Varianza Fila 9 780.2400000000001
Varianza Fila 10 536.4100000000001

In [11]:
for i in range(10):
    print("Varianza Columna "+ str(i+1) +" "+ str(np.var(data[:,i])))

Varianza Columna 1 1199.6899999999998
Varianza Columna 2 831.49
Varianza Columna 3 726.49
Varianza Columna 4 710.24
Varianza Columna 5 989.24
Varianza Columna 6 785.4
Varianza Columna 7 477.89
Varianza Columna 8 565.25
Varianza Columna 9 779.0
Varianza Columna 10 1012.4399999999999

In [21]:
import pandas as pd

dataframe = pd.DataFrame(data)
resume = dataframe.describe()
resume

,0,1,2,3,4,5,6,7,8,9
count,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,51.90000,36.900000,57.900000,47.600000,48.400000,59.000000,59.100000,45.500000,41.000000,66.400000
std,36.51012,30.395358,28.411461,28.091913,33.153515,29.540932,23.043196,25.061037,29.420326,33.540026
min,2.00000,3.000000,16.000000,13.000000,6.000000,6.000000,21.000000,6.000000,11.000000,11.000000
25%,20.00000,19.250000,47.250000,24.000000,17.750000,43.500000,40.250000,23.500000,20.500000,40.000000
50%,50.00000,26.000000,56.500000,43.500000,45.000000,71.500000,66.000000,52.500000,30.500000,82.000000
75%,83.00000,37.000000,84.000000,64.250000,73.000000,78.250000,77.750000,61.250000,59.000000,93.250000
max,98.00000,92.000000,94.000000,99.000000,99.000000,91.000000,84.000000,80.000000,100.000000,100.000000

Los datos no son coherentes en la desviación estandar pero en la media si lo son.